*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 30px;
    font-family: Montserrat;
    color: #fff;
    background-color: #181719;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
}
header{
    display: flex;
    justify-content: space-between;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px ;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 22px;
}
header h2{
    border: 1px solid #FFFFFF;
    width: 200px;
    color: #fff;
    padding: 5px;
    text-align: center;
}
img{
    max-width: 100%;
}
section h1{
    font-family: Lora;
    font-size: 48px;
    font-weight: 400;
    line-height: 61px;
    text-align: left;
    color: #fff;
}
section .about{
    height: 145px;
    width: 410px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    font-size: 20px;
}
section p a{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
}
span{
    font-style: 200px;;
}
.link:hover, footer p a:hover{
    border-bottom: 4px solid#fff
}
section div img{
    width: 85px;
    border-radius: 50%;
    margin-left: 50px;
}
section div p{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
}
section div .title{
    font-size: 12px;
    color: #828282;
    font-weight: bold;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    text-transform: capitalize;
}
.position{
        position: relative;
    }
.designer{
    height: 189px;
    width: 410px;
    border: 2px solid #181719;
    box-shadow: 0 4px 2px -2px #181719, 0 4px 2px -2px #181719,0 4px 2px -2px #181719,0 4px 2px -2px #181719;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #181719;
    position: absolute;
    bottom: -10px;
    right: 20px;
}
.interior-image{
    width: 100%;
}
.name,.title{
    margin-top: 20px;
    margin-right: 70px;
}
section .design-detail{
    font-family: Lora;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
}
footer p a{
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-decoration: none;
    color: #a9a9a9;
}
footer{
    text-align: center;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 50px 20px;
}
.check-btn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer; 
    display: none;
}
#check{
    display: none;
}
@media only screen and (max-width: 789px){
    .wrapper{
        grid-template-columns: 1fr;
    }
    header{
        display: block;
    }
    .check-btn{
        display: block;
        position: relative;
        top: -50px;
    }
    nav ul{
        background-color: #181719;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        margin: 30px  0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 30px;
    }
    #check:checked ~ ul{
        left: 0;
}
}